* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: #e5e5e5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  width: 100%;
}

header img {
  margin-left: 5%;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  height: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #0a3871;
  padding-bottom: 1rem;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textInput {
  background-color: transparent;
  border: none;
  min-height: 150px;
  width: 90%;
  font-size: 25px;
  font-weight: 500;
  color: #0a3871;
}

.textInput:focus {
  outline: none;
}

.containerIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.warning {
  margin-left: 5%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12px;
}

.warning > label {
  margin-left: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.btn {
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.btn-primary {
  margin: 2%;
  width: 340px;
  height: 67px;
  background-color: #0a3871;
  color: #e5e5e5;
}

.btn-secondary {
  margin: 2%;
  width: 340px;
  height: 67px;
  border: 1px solid #0a3871;
  color: #0a3871;
}

.outputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 5px;
  width: 90%;
  height: 180px;
  background: #ffffff;
}

.outputContainer h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.outputContainer p {
  text-align: center;
}

.image {
  position: relative;
}

.muneco {
  width: 90%;
  display: none;
}

.textOutput {
  text-align: center;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  height: 180px;
  width: 90%;
  display: none;
}

.textOutput:focus {
  outline: none;
  background-color: #ffffff;
}

.btnCopy {
  height: 48px;
  width: 80%;
  background-color: white;
  color: var(--azul-fuerte);
  border-radius: 14px;
  border: 1px solid #0a3871;
  display: none;
}

.btnCopy:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  main {
    width: 100%;
    flex-wrap: nowrap;
  }

  .inputSection {
    height: 70vh;
    width: 60%;
  }

  .warning {
    font-size: 14px;
  }

  .muneco {
    display: inline;
  }

  .outputSection {
    height: 70vh;
    width: 40%;
  }
  .outputContainer {
    height: auto;
  }
  .textOutput {
    text-align: center;
    border: none;
    border-radius: 25px;
    height: 90%;
    width: 90%;
  }
  .textOutput::placeholder {
    text-align: center;
    padding-top: 100%;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
}
